<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.techtown.dagym">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!--sms문자인증 용으로 <uses-permission android:name="android.permission.SEND_SMS" /> 사용 -->

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="DAGYM"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DAGYM.NoActionBar"
        android:usesCleartextTraffic="true">
        <!--android:usesCleartextTraffic="true"> 써야지 웹 연동 가능 -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="8aed129972f1253dee29332d6291a455" />

        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <activity android:name=".LoginListActivity"></activity>
        <activity android:name=".LoginActivity"></activity>
        <activity android:name=".RegisterActivity"></activity>
        <activity android:name=".FindidActivity"></activity>
        <activity android:name=".FindpwActivity"></activity>
        <activity android:name=".BoardInsert" android:theme="@android:style/Theme.Material.Light.Dialog"></activity>
        <activity android:name=".UpdatePwActivity"></activity>
        <activity android:name=".MyPageActivity"></activity>
        <activity android:name=".SocialLoginActivity" android:theme="@android:style/Theme.Material.Light.Dialog"></activity>
    </application>

</manifest>